<div class="jumbotron">
  <div class="container">
    <h1>Palindrome!</h1>
    <p>Why us? You will never have to spend a lot of money for deciding if some of the text is a palindrome!</p>
    <a ng-href="#!/palindrome" class="btn btn-primary btn-lg" role="button">Go for palindrome »</a>
  </div>
</div>
