<div ng-module="QuestionModule" ng-controller="QuestionController">
  <h1>Check palindrome</h1>
  <form ng-submit="submitPalindrom()" class="simple-formated-form">
    <div class="input-group">
      <input type="text" placeholder="Write plaindrome" name="value" ng-model="question.value" class="form-control" required>
      <span class="input-group-btn">
        <input type="submit" value="Test it!" class="btn btn-customized">
      </span>
    </div>
    <!-- /input-group -->
  </form>

  <div ng-show="question.results.length">
    <h2>Results:</h2>
    <ul class="list-group">
      <li ng-repeat="res in question.results" ng-class="'list-group-item list-group-item-' + (res.isPal ? 'success' : 'danger')">
        {{res.value}}  is {{res.isPal ? '' : 'not'}} a palindrom
      </li>
    </ul>
  </div>
</div>
