<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Palindrom</title>

  <!-- Viewport mobile tag for sensible mobile support -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!--STYLES-->
  <link rel="stylesheet" href="/styles/importer.css">
  <!--STYLES END-->
</head>

<body ng-app="Palindrome" ng-controller="RouterController">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="#">Palindrome</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a ng-href="#!/">Home</a></li>
          <li><a ng-href="#!/palindrome">Question</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>

  <div class="container" ng-view></div>
  <footer class="footer">
     <div class="container">
       <p class="text-muted">Palindrome - your first choice</p>
     </div>
   </footer>

  <!--SCRIPTS-->
  <script src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-route/angular-route.js"></script>
  <script src="/static/app.js"></script>
  <!--SCRIPTS END-->
</body>

</html>
