$button-color: #da00ff;
$input-color: rgb(232, 232, 232);

.simple-formated-form {
  padding: 10px;
  background: rgba(224, 224, 224, 0.31);

  .btn.btn-customized {
    background: $button-color;
    color: #fff;
    border: solid 1px lighten($button-color, 5%);
    transition: background-color 0.5s ease;
    position: relative;

    &:hover {
      background: lighten($button-color, 20%);
    }
  }

  input {
    background: $input-color;
    border: solid 1px lighten($input-color, 5%);
    color: #474747;
  }

  .input-group {
    input {
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
    }
  }
}
