$height-footer: 60px;

html {
  min-height: 100%;
  position: relative;

  body {
    margin-bottom: $height-footer;
  }

  footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #f5f5f5;

    .text-muted {
      margin: 20px 0;
    }
  }
}
